html, body {
    height: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(131, 216, 255) 0%, rgb(106, 106, 158) 100%);
    color: black;
}

button {
    background: #1646a0;
    color: white;
    padding: 0 45px;
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background-color: #0923af;
}